<hr>
<h1>Editar Publicação: </h1>
<hr>
<div>
<%= render 'form', article: @article %>
<hr>
    <%= link_to 'Apagar publicação', @article, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button is-danger is-outlined" %>
<hr>
</div>

 