 <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
         <a class="navbar-brand" href="#">
         <%= image_tag 'rails.png' =%>
          </a>
          Blog Fórum Rails
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <a class="nav-link px-2 text-secondary" href="#"><%= link_to "Home", home_index_path%></a>
        </ul>

        <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% unless user_signed_in? %>
              <a class="button is-info" href='/users/sign_up'>
                <strong>Cadastre-se</strong>
              </a>
              <a class="button is-success" href='/users/sign_in'>
                Entrar
              </a>
            <% end %>  
            <% if user_signed_in? %>
              <%= link_to "Sair", destroy_user_session_path, method: :delete, class: 'button is-light'  %>
            <% end %>
          </div>
        </div>
      </div>

      </div>
    </div>
  </header>