@import 'bootstrap/scss/bootstrap';

body {
    background-color: blueviolet;
    color: aliceblue;
    height: calc(100% - 70px);
    
}

img, svg {
    vertical-align: middle;
    height: 90%;
    width: 90%;
}